.container-control{
    width: 100%;
    padding: 5px;
  }
  
  .container-control > * {
    width: 100%;
  }

  .center {
    display: flex;
    justify-content: center;
     width: 100%;
  }

  .img-icon {
    height: 200px;
    width: 200px;
  }

  .mat-dialog-actions{
    justify-content: flex-end !important;
  }

  .mat-success {
    background-color: green;
    color: #fff;
  }

  
  .button-container {
    width: 120px;
  }

  .cust-title{
    font-size: 17px;
  }

  .mat-status {
    background-color: #4E8DA5;
    color: #fff;
  }
  
  

  