<h3 mat-dialog-title>Resource Confirmation</h3>
<mat-divider></mat-divider>
<div mat-dialog-content class="mat-dialog-confirmation">
    <mat-card>
        <mat-card-header>
            <mat-card-title class="cust-title">Resource Properties</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-grid-list cols="2" rowHeight="200px">
            <mat-grid-tile>
                <div class="container-control center">
                    Resource Group Name: {{resourceGroupName}}
                    <br><br>
                    Virtual Network Address Space: {{virtualNetworkAddressSpace}}
                    <br><br>
                    Subnet Address Prefix: {{subnetAddressPrefix}}
                    <br><br>
                    Image ID: {{imageId}}
                    <br><br>
                    Instance Type: {{instanceType}}
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="container-control center">
                    Location: {{location}}
                    <br><br>
                    Table Name: {{tableName}}
                    <br><br>
                    Read Capacity: {{readCapacity}}
                    <br><br>
                    Write Capacity: {{writeCapacity}}
                    <br><br>
                    Partition Key: {{partitionKey}}
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <mat-card-title class="cust-title">Assigned Modules</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-grid-list cols="2" rowHeight="250px">
            <mat-grid-tile>
                <div class="center">
                    <img class="img-icon" src="../../../../../assets/images/ec2_thumbnail.jpg">
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="center">
                    <img class="img-icon" src="../../../../../assets/images/dynamodb_icon.png">
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card>
    <mat-card *ngIf="statusShow">
        <mat-card-header>
            <mat-card-title class="cust-title">Build Status</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-grid-list cols="1" rowHeight="200px">
            <mat-grid-tile>
                <p class="center">Please wait... Infra is being created.</p>
                <br><br>
                <p class="center">{{statusResponse}}</p>
                <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card>
</div>

<div mat-dialog-actions  align="end">
    <button mat-raised-button color="status" (click)="toggleShow()" style="margin-right:20px">Check Status</button>
    <button mat-raised-button color="success" style="width:100px" (click)="executeDummyInfra()">Build</button>
</div>
