@import "src/app/styles/colors";

.form {
  width: 100%;

  &__input {
    width: 100%;
    margin-top: 6px;
    color:white
  }
}

.form-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__create {
    font-size: 12px;
    color: white;
    background-color: green;
  }
}

:host ::ng-deep .mat-form-field-label {
  color: white;
}