<form class="form" [formGroup]="form" (ngSubmit)="signup()">
    <!-- <mat-form-field class="form__input"> -->
      <!-- <input matInput placeholder="Username" formControlName="firstName"> Placeholder changed to username as of the moment -->
    <!-- </mat-form-field> -->

    <!-- <mat-form-field class="form__input">
      <input matInput placeholder="Last Name" formControlName="lastName">
    </mat-form-field> -->

    <mat-form-field class="form__input">
      <input matInput placeholder="Email Address" type="email" formControlName="email">
    </mat-form-field>

    <mat-form-field class="form__input">
      <input matInput placeholder="Password" type="password" formControlName="password">
    </mat-form-field>
    <br>
    <div class="form-actions">
      <button class="form-actions__create" mat-raised-button color="primary" type="submit">Create account</button>
    </div>
  </form>
