.example-spacer {
  flex: 1 1 auto;
}

.container-control{
  width: 100%;
  padding: 5px;
}

.container-control > * {
  width: 100%;
}

div.container {
  margin: 0px 40px;
}

.fill-remaining-space{
  flex: 1 1 auto;
}

form.normal-form{
  margin:10px;
}

.cust-title{
  font-size: 17px;
}

.center {
  display: flex;
  justify-content: center;
   width: 100%;
}

.container-dragdrop {
  width: 400px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
}

.example-list {
  border: solid 1px #ccc;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.grid-footer{
  background-color: transparent !important;
  justify-content: flex-end !important;
}

.mat-success {
  background-color: green;
  color: #fff;
}

.workspace {
  padding: 10px 20px;
  background-color: #F4F4F4;
}

.img-icon {
  height: 60px;
  width: 60px;
}

.img-icon-button {
  height: 20px;
  width: 20px;
}

.button-container-success {
  display: flex;
  justify-content: center;
  width: 100px;
}

.button-container {
  display: flex;
  justify-content: center;
  width: 200px;
}

.mat-download {
  background-color: #4E8DA5;
  color: #fff;
}

