<!-- Resource Selection Panel -->
<div class="workspace">
<mat-card>
  <mat-card-header>
      <mat-card-title>Resource Selection</mat-card-title>
  </mat-card-header>
</mat-card>
<mat-card>

<form #resourceSelectionForm="ngForm" [formGroup]="form">
  <mat-card-header>
      <mat-card-title class="cust-title">Default Properties</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <br><br>
  <mat-grid-list cols="2" rowHeight="300px">
      <mat-grid-tile>
          <div class="container-control">

              <mat-form-field appearance="fill" matTooltip="Cloud Platform" matTooltipPosition="after">
                  <mat-label>Cloud Platform*</mat-label>

                  <mat-select (ngModel)="resourceSelection.cloudPlatform" formControlName="cloudPlatform" name="cloudPlatform" type="text">
                      <mat-option value="Amazon Web Service">Amazon Web Services</mat-option>
                      <mat-option value="Microsoft Azure">Microsoft Azure</mat-option>
                      <mat-option value="Google Cloud">Google Cloud</mat-option>
                  </mat-select>
              </mat-form-field>

              <mat-form-field appearance="fill" matTooltip="Resource Group Name" matTooltipPosition="after">
                  <mat-label>Resource Group Name*</mat-label>
                  <input (ngModel)="resourceSelection.resourceGroupName" formControlName="resourceGroupName" matInput #rgName (ngModelChange)="valuechange(lblName.id, rgName.value)" name="resourceGroupname" type="text"/>
              </mat-form-field>

              <mat-form-field appearance="fill" matTooltip="Location" matTooltipPosition="after">
                  <mat-label>Location*</mat-label>
                  <mat-select (ngModel)="resourceSelection.location" formControlName="location" name="location">
                      <mat-option value="us-east-1">us-east-1</mat-option>
                      <mat-option value="us-east-2">us-east-2</mat-option>
                  </mat-select>
              </mat-form-field>
          </div>
      </mat-grid-tile>
      <mat-grid-tile>
          <div class="container-control">
              <mat-form-field appearance="fill" matTooltip="Virtual Network Address Space" matTooltipPosition="after">
                  <mat-label>Virtual Network Address Space</mat-label>
                  <input (ngModel)="resourceSelection.virtualNetworkAddressSpace" formControlName="virtualNetworkAddressSpace" matInput name="virtualNetworkAddressSpace">
              </mat-form-field>

              <mat-form-field appearance="fill" matTooltip="Subnet Address Prefix" matTooltipPosition="after">
                  <mat-label>Subnet Address Prefix</mat-label>
                  <input (ngModel)="resourceSelection.subnetAddressPrefix" formControlName="subnetAddressPrefix" matInput name="subnetAddressPrefix">
              </mat-form-field>

              <mat-form-field appearance="fill" matTooltip="IP Adress Allocation" matTooltipPosition="after">
                  <mat-label>IP Address Allocation</mat-label>
                  <input (ngModel)="resourceSelection.ipAddressAllocation" formControlName="ipAddressAllocation" matInput name="ipAddressAllocation">
              </mat-form-field>

          </div>
      </mat-grid-tile>
  </mat-grid-list>

</form>
</mat-card>

<mat-card>
    <mat-card-header>
    <mat-card-title class="cust-title">Resources</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>

    <mat-grid-list cols="3" rowHeight="100px">
        <mat-grid-tile>
            <label #lblName id="lblName" style="font-weight: bold;">Note: Please drag and drop resources you wish to create in resource group.</label>
        </mat-grid-tile>
        <mat-grid-tile>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card style="margin-left: auto; background-color: #274852">
                <label style="font-weight: bold; color: white" id="monthlyCost">Total Monthly Cost: $0</label>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="3" rowHeight="670px">
        <mat-grid-tile>
            <div class="container-dragdrop">
                <div class="center">
                    <h4>Available</h4>
                </div>
                <div
                    cdkDropList
                    #availableList="cdkDropList"
                    [cdkDropListData]="available"
                    [cdkDropListConnectedTo]="[assignedList]"
                    class="example-list"
                    (cdkDropListDropped)="drop($event)"
                    (cdkDropListDropped)="entered($event)">
                    <div class="example-box" *ngFor="let item of available" cdkDrag [cdkDragData]="item.name"><img class="img-icon" [src]="item.image"><h3>{{item.name}}</h3></div>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="container-dragdrop">
                <div class="center">
                    <h4>Assigned</h4>
                </div>
                <div
                    cdkDropList
                    #assignedList="cdkDropList"
                    [cdkDropListData]="assigned"
                    [cdkDropListConnectedTo]="[availableList]"
                    class="example-list"
                    (cdkDropListDropped)="drop($event)"
                    (cdkDropListDropped)="exited($event)">
                    <div class="example-box" *ngFor="let item of assigned" cdkDrag [cdkDragData]="item.name"><img class="img-icon" [src]="item.image"><h3>{{item.name}}</h3></div>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-divider vertical style="position: relative;"></mat-divider>
            <div class="container-control">
                <div class="center">
                    <h4>Properties</h4>
                </div>
                <form class="container-control" [formGroup]="amazonForm" *ngIf="formShow">
                    <mat-form-field appearance="fill" matTooltip="Image ID" matTooltipPosition="after">
                        <mat-label>Image ID*</mat-label>
                        <mat-select (ngModel)="resourceSelection.imageId" formControlName="imageId" (ngModelChange)="calculateCost()" name="imageId" type="text">
                            <mat-option value="Amazon Linux 2">Amazon Linux 2</mat-option>
                            <mat-option value="MS Windows 2022 Server">MS Windows 2022 Server</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="fill" matTooltip="Instance Type" matTooltipPosition="after">
                        <mat-label>Instance Type*</mat-label>
                        <mat-select (ngModel)="resourceSelection.instanceType" formControlName="instanceType" (ngModelChange)="calculateCost()" name="instanceType" type="text">
                            <mat-option value="t2.micro">t2.micro</mat-option>
                            <mat-option value="t4g.micro">t4g.micro</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="fill" matTooltip="Subnet" matTooltipPosition="after">
                        <mat-label>Subnet*</mat-label>
                        <input formControlName="subNet" matInput >
                    </mat-form-field>
                    <mat-form-field appearance="fill" matTooltip="Memory" matTooltipPosition="after">
                        <mat-label>Memory*</mat-label>
                        <input formControlName="memory" matInput >
                    </mat-form-field>
                    <mat-form-field appearance="fill" matTooltip="CPU" matTooltipPosition="after">
                        <mat-label>CPU Cores*</mat-label>
                        <input formControlName="cpu" matInput >
                    </mat-form-field>
                </form>

                <form class="container-control" [formGroup]="dynamoDbForm" *ngIf="formShow2">
                    <mat-form-field appearance="fill" matTooltip="Table Name" matTooltipPosition="after">
                        <mat-label>Table Name*</mat-label>
                        <input (ngModel)="resourceSelection.tableName" formControlName="tableName" matInput name="tableName" type="text">
                    </mat-form-field>
                    <mat-form-field appearance="fill" matTooltip="Read Capacity" matTooltipPosition="after">
                        <mat-label>Read Capacity*</mat-label>
                        <mat-select (ngModel)="resourceSelection.readCapacity" formControlName="readCapacity"  #imageName name="readCapacity" (ngModelChange)="calculateCost()" type="number">
                            <mat-option value="500">500</mat-option>
                            <mat-option value="1000">1000</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="fill" matTooltip="Write Capacity" matTooltipPosition="after">
                        <mat-label>Write Capacity*</mat-label>
                        <mat-select (ngModel)="resourceSelection.writeCapacity" formControlName="writeCapacity"  #imageName name="writeCapacity" (ngModelChange)="calculateCost()" type="number">
                            <mat-option value="500">500</mat-option>
                            <mat-option value="1000">1000</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="fill" matTooltip="Partition Key" matTooltipPosition="after">
                        <mat-label>Partition Key*</mat-label>
                        <input (ngModel)="resourceSelection.partitionKey" formControlName="partitionKey" matInput name="partitionKey" type="text">
                    </mat-form-field>
                </form>
            </div>
            <mat-grid-tile-footer class="grid-footer">
                <div class="button-container">
                    <button mat-raised-button color="download" (click)="downloadTerra()">
                        Download Terraform Script
                    </button>
                </div>

                <div class="button-container-success">
                    <button mat-raised-button color="success" [disabled]="resourceSelectionForm.invalid" (click)="openDialog()">Proceed</button>
                </div>
            </mat-grid-tile-footer>
        </mat-grid-tile>

    </mat-grid-list>
</mat-card>
</div>

<!-- [disabled]="resourceSelectionForm.invalid" -->
