<div class="auth-page">
  <div class="auth-page__logo">
    <div class="auth-page__logo-wrapper">
      <div class="auth-page__logo-title">
        <mat-card class="mat-card-login">
          <mat-tab-group class="auth-page__group">
           <mat-tab label="Login">
              <h4 class="auth-page__group-title">Welcome to Infra-On-Click</h4>

              <app-login-form (submitLoginForm)="submitLoginForm()"></app-login-form>

            </mat-tab>
            <mat-tab label="New User">
              <p class="auth-page__group-title">Create your account</p>
              <app-signup-form (submitSignupForm)="submitSignupForm()"></app-signup-form>
            </mat-tab>
          </mat-tab-group>
        </mat-card>
      </div>
    </div>
  </div>
</div>
