@import 'src/app/styles/colors';
@import 'src/app/styles/variables';
@import 'src/app/styles/font';

.auth-page {
    width: 100%;
    height: 100%;
    margin-bottom: -320px;
    display: flex;

    @media (max-width: $medium) {
      flex-direction: column;
    }

    &__content-block {
      width: 100%;
      height: 34%;
      background-color: $white;
      display: flex;
      align-items: center;
      flex-direction: column;

      @media (max-width: $medium) {
        width: 100%;
      }
    }

    &__content-wrapper {
      width: 45%;
      height: 100%;
      padding: 16px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;

      @media (max-width: $small) {
        width: 70%;
      }

      @media (min-width: $medium) and (max-width: $large){
        width: 45%;
      }
    }

    &__group {
      margin-top: 28px;
    }

    &__group-title {
      font-size: 24px;
      font-weight: $fw-normal;
      margin-top: 37px;
      letter-spacing: -0.7px;
      text-align: center;
      line-height: 37px;
      color: white;
    }

    &__group-sub-title {
      font-size: $fs-large;
      font-weight: $fw-normal;
      margin-bottom: 60px;
      letter-spacing: -0.5px;
      text-align: center;
      line-height: 24px;
      color: white;
    }

    &__border-wrapper {
      align-items: center;
      display: flex;
      justify-content: center;
      margin: 32px 0;
    }

    &__border-line {
      height: 1px;
      width: 100%;
      background-color: $light-grey;
      opacity: 0.3;
    }

    &__border-title {
      font-size: $fs-xs;
      padding: 0 16px;
      margin: 0;
      color: $dark-grey
    }

    &__logo {
      width: 100%;
      height: 100%;
      background-image: url('../../../../../assets/images/homepage_bg.jpg');
      background-size: cover;
      display: flex;
      align-items: center;
      @media (max-width: $medium) {
        display: none;
      }
    }

    &__logo-wrapper {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      align-items: baseline;
      margin-left: 100px;
    }

    &__logo-img {
      margin-bottom: 50px;
    }

    &__logo-title {
      // font-size: 62px;
      color: $white;
      // font-weight: 500;
      letter-spacing: -1.5px;
      line-height: 62px;
    }

    &__footer-title {
      color: $blue;
      font-size: 10px;
      opacity: 0.7;
      a {
        text-decoration: none;
        color: $blue;
      }
    }
  }

.mat-card-login{
  background-color: rgba(0, 0, 0, 0.5);
  height: 50vh;
  width: 412.88px;
}

.cust-title{
  font-size: 17px;
  text-align: center;
}

.cust-desc{
  line-height: 1.6;
}

.mat-card-size{
  height: 200px;
  width: 500px;
}
