<div fxLayout="column" [style.height]="'100vh'">
  <ruf-banner color="primary">
    <ruf-banner-brand [title]="title"></ruf-banner-brand>
  </ruf-banner>
  <ruf-app-canvas class="workspace" fxFlex [style.paddingBottom]="'0px'" [style.overflow-y]="'shown'"> <!-- For some reasons, the canvass shows black color in the background. -->
    <router-outlet></router-outlet>
  </ruf-app-canvas>
</div>
