<div class="error-page">
  <div class="error-page__content">
    <div class="error-page__title">
      <h3 class="error-page__title-text">Internal Server Error!</h3>
    </div>

    <mat-card class="error-page__card">
      <mat-card-content class="error-page__content">
        <h1 class="error-page__card-title">500</h1>

        <p class="error-page__card-sub-title">Internal Server Error. Please contact administrator!</p>

        <button class="error-page__card-button" mat-raised-button color="primary" [routerLink]="routes.RESOURCE_PAGE">Go Back</button>

      </mat-card-content>
    </mat-card>
  </div>
</div>
