/* Importing the prebuilt color theme called "fis-default" */
@import '~@ruf/prebuilt-themes/fis-default-css-vars';

// Importing the RUF shell structural styles
@import '~@ruf/shell/styles/index';

// Import RUF's theme files. Importing this file also imports theming.scss and palette.scss files.
// Dependency graph: all-theme -> component theme file -> theming -> palette
@import '~@ruf/shell/styles/_all-theme';
@import '~@ruf/shell/styles/_all-structure';
@import '~@ruf/theming/styles/theming/typography';

// Import Angular Material color theme files. Here you could import only the files for the components you are using or import material's 'all-theme' file.
@import '~@angular/material/_theming.scss';

// Import @ruf/material theme and structure files.
@import '~@ruf/material/styles/all-structure.scss';
@import '~@ruf/material/styles/all-theme.scss';

// Define a color theme.
$primary:   ruf-palette($ruf-teal);
$accent:    ruf-palette($ruf-gold);
$emphasis:  ruf-palette($ruf-plum);
$warn:      ruf-palette($ruf-orange);
$success:   ruf-palette($ruf-success);
$error:     ruf-palette($ruf-error);
$info:      ruf-palette($ruf-light-blue);

// Defaults to $ruf-light-theme-foreground and $ruf-light-theme-background
// Can also be set to $ruf-dark-theme-foreground / $ruf-dark-theme-background
$foreground: $ruf-light-theme-foreground;
$background: $ruf-dark-theme-background;

// Build a theme of out of provided colors.
$theme: ruf-light-theme($primary, $accent, $emphasis, $warn, $foreground, $background, $success, $error, $info);

// Include Angular Material core and include the RUF color theme styles.
@include mat-core(ruf-typography-config());
@include ruf-theme($theme);
@include ruf-material-theme($theme);

// Include @ruf/material theme and structure mixins
@include ruf-material-structure();
@include ruf-shell-override();

// Include each mixin for material components.
// Or just include angular-material-theme($theme) if you imported _all-theme earlier.
@include angular-material-theme($theme);

// Import the default config for its typography and structural styles.
@import '~@ruf/theming/styles/theming/default.config';

// If you want to use default theme's foreground and background palettes.
$foreground: ruf-get-default-light-theme-foreground-config();
$background: ruf-get-default-light-theme-background-config();

// Use the typography config in mat-core, ruf-theme, ruf-material-theme mixins.
$app-typography-config: ruf-get-default-typography-config();
@include mat-core(ruf-typography-config($app-typography-config));
@include ruf-theme($theme, $app-typography-config);
@include ruf-material-theme($theme, $app-typography-config);

// Structural styles for overriding the @angular/material components.
$material-structural-config: ruf-get-default-material-structural-config();
@include ruf-material-structure($structural-config: $material-structural-config);

// Structural styles for the RUF material components.
$shell-structural-config: ruf-get-default-shell-structural-config();
@include ruf-shell-override($structural-config: $shell-structural-config);
