/* You can add global styles to this file, and also import other style files */
@import './ioc-theme.scss';

/*Page header should remain fixed hence subtracting header's height*/
.app-section-container {
  height: calc(100% - 60px);
  overflow-y: auto;
  padding-bottom: 30px;
}

.user-container {
  height: calc(100% - 93px);
  overflow-y: auto;
  padding-bottom: 30px;
}

//grid will start upper left instead
.mat-grid-tile .mat-figure {
  justify-content: flex-start !important ;
  align-items: flex-start !important;
  padding-top: 30px !important;
}

.mat-divider-vertical{
  height: 100%;
width: 0px !important;
  position: inherit !important;
}

.mat-dialog-confirmation {
  display: block;
  padding: 24px;
  border-radius: 4px;
  box-sizing: border-box;
  overflow: auto;
  outline: 0;
  width: 1000px;
  height: 500px;
  min-height: inherit;
  max-height: inherit;
}

.mat-tab-header .mat-tab-label-active {
  color:  white !important;
  font-weight: bold !important;
  background-color:  #4E8DA5 !important;
}

.mat-form-field-underline{
  background-color:white !important;
}

@import './ioc-temp-theme.scss';
